:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
  --cornflowercolor: #e7e9fc;
  --cloudcolor: #f4f4fd;
  --greencolor: #31d0aa;
  --lightslatecolor: #8e8f99;
  --navybluemodalcolor: #2e2f42;
  --greycolor: #2e2f42;
  --dairycolor: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Main Page */

body {
  width: 1440px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Header */

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
  padding: 0 15px;
  width: 1158px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.heading {
  display: flex;
  gap: 40px;
}
.textlogo {
  color: var(--NAVY-BLUE, #2e2f42);
}

.list {
  list-style-type: none;
  padding: 0;
}

.contacts {
  font-style: normal;
}

.link-head {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

/* 1st Section */
.section {
  padding: 120px 0;
}

.hero-section {
  background-color: var(--navyblue);
  margin-left: -8px;
  padding: 188px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-header {
  max-width: 496px;
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  padding-left: 324px;
}
.button {
  margin-left: 480px;
  padding: 16px 32px;
  display: block;
  height: 56px;
  border: none;
  min-width: 169px;
  background: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* 2nd Section */
.container-second {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  display: flex;
  gap: 24px;
}

.second-list {
  width: calc((100%-72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  color: #fff;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.textlist {
  width: 264px;
  height: auto;
  margin-top: 8px;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 0px;
  margin-bottom: 120px;
}

/* 3rd Section*/

.third-container {
  margin: 0 108px;
  padding-top: 224px;
}
.third {
  margin-top: -344px;
  margin-left: 409px;
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.third-list {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.listing {
  flex-basis: calc((100%-48px) / 3);
}

/* 4th Section*/

.fourth-list {
  display: flex;
  list-style-type: none;
  gap: 24px;
  justify-content: center;
  margin-right: 48px;
}

.fourth-container {
  width: 1440px;
  padding-top: 120px;
  background-color: #f4f4fd;
  height: 732px;
}
.fourth {
  justify-content: center;
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.fourth-listing {
  height: 380px;
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.employee-name {
  padding: 32px 0;
  text-align: center;
  margin-top: -24px;
}
.fourth-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.text-list {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 120px;
}

/*footer*/

.below {
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}
.footing {
  margin: -120px -30px;
}

.text-logo {
  color: #f4f4fd;
}

.footer-logotext {
  margin-top: 8px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.bottom {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*portfolio*/

.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list {
  width: 1158px;
  margin-left: -48px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-top: 48px;
}

.container-imaging {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  background: var(--WHITE, #fff);
  text-align: start;
}

.btn {
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}
.services {
  width: calc((100% - 48px) / 3);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.container-portfolio {
  margin-bottom: 120px;
}

.portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.linkin {
  text-decoration: none;
}
.port-head {
  margin-bottom: 8px;
}
h3 .container-imaging{
  margin-bottom: 8px;

