:root {
  --iris: #4d5ae5;
}

/* Main Page */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.textlogo {
  color: var(--NAVY-BLUE, #2e2f42);
}

.list {
  list-style-type: none;
}

.nav-links .link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-contact .link {
  color: var(--NAVY-BLUE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts {
  font-style: normal;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.first {
  background-color: #2e2f42;
}
.first-header {
  text-transform: uppercase;
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button {
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

.list-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.textlist {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third,
.fourth {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.fourth-section {
  background-color: #f4f4fd;
}

.list .nav-links {
  background-color: #fff;
}

.below {
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.text-logo {
  color: #f4f4fd;
}

.footer-logotext {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.services {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
