:root {
  --iris: #4d5ae5;
}

/* Main Page */

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  width: 1440px;
}

/* Header */

.heading {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  height: 72px;
  flex-shrink: 0;
}
.container {
  display: flex;
  background: var(--WHITE, #fff);
}
.container-flex {
  padding: 0 15px;
  width: 1158px;
  margin: 0 124px;
}

.navigation {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.textlogo {
  color: var(--NAVY-BLUE, #2e2f42);
}
.list,
.contact-list {
  list-style-type: none;
  justify-content: center;
  display: inline-flex;
  gap: 40px;
  padding: 24px, 0;
}

.nav-links .link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: -1.5px;
}

.nav-contact .link {
  color: var(--NAVY-BLUE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts {
  top: 8px;
  left: 940px;
  font-style: normal;
  margin-top: -1.5px;
  position: absolute;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
/* 1st Section */
section {
  padding: 120px 0;
}
.section {
  padding: 188px 0;
}
.first {
  top: 80px;
  left: 0;
  width: 1440px;
  background-color: #2e2f42;
  height: 600px;
  position: absolute;
}

.first-header {
  max-width: 496px;
  text-align: center;
  justify-content: center;
  margin-top: 188px;
  margin-left: 472px;
  display: flex;
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button {
  justify-content: center;
  margin-left: 636px;
  padding: 16px 32px;
  display: block;
  height: 56px;
  border: none;
  min-width: 169px;
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* 2nd Section */

.second {
  display: flex;
  list-style-type: none;
}
.second-section {
  margin: 0 108px;
}

.second-list {
  margin-right: 24px;
  flex-basis: calc((100%-72px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  color: #fff;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-header {
  margin-top: 120px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.textlist {
  width: 264px;
  height: auto;
  margin-top: 8px;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 0px;
  margin-bottom: 120px;
}

/* 3rd Section*/

.third {
  margin-top: -344px;
  margin-left: 409px;
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.third-list,
.fourth-list {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.third-section {
  margin: 0 108px;
}
.listing {
  flex-basis: calc((100%-48px) / 3);
  display: block;
}
.unknown {
  margin: 0 108px;
}

/* 4th Section*/

.fourth-section {
  margin-top: -272px;
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.fourth {
  padding-top: 88px;
  justify-content: center;
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.fourth-listing {
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.image {
  padding: 32px 0;
  display: block;
}
.fourth-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.text-list {
  text-align: center;
  width: 264px;
  height: auto;
  margin-top: 8px;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 120px;
}

/*footer*/

.footing {
  margin: 0 156px;
}
.below {
  margin-top: -252px;
  margin-left: -8px;
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}
.text-logo {
  color: #f4f4fd;
}
.footer-logotext {
  margin-top: 17.5px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.bottom {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*portfolio*/

.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list {
  margin: 0 108px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.services {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: calc((100% - 48px) / 3);
}
.imaging {
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
  height: 420px;
  padding-bottom: 0px;
}

.btn {
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}

.btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.linking {
  text-decoration: none;
}
.portpolio-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
